footer {
  max-width: 1024px;
  overflow: auto;
  margin: 0 auto;
  height: 50px;
  width: 100%;

  @media only screen and (max-width: 500px) {

    .pull-left {
      float: none;
      text-align: center;
    }

    .pull-right {
      float: none;
      text-align: center;
    }
  }
}

.logo {
  max-width: 300px;

  @media only screen and (max-width: 500px) {
    max-width: 150px;
  }
}

.footer-links {
  font-size: xx-small;
  padding-top: 25px;

  @media only screen and (max-width: 500px) {
    padding-top: 15px;
  }
}
