<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>
  <authentication mode="None"></authentication>
    <customErrors mode="Off"/>
  </system.web>
    <system.webServer>
	<httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="routes">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
